body {
    background-color:grey;
}

.carouselContainer {
    width: 700px;
    margin: 0 auto;
    margin-top: 75px;
}

#navbar {
    padding-left: 150px;
}

.form-inline {
    padding-right: 150px;
}

.dropdown-menu {
    margin-left: 500px;
}