body {
  background-image: url("../images/event-photo.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Flexbox settings */
@media(min-width: 600px) {
  .container {
    display: flex;
  }
}

/* Navbar Container */
.navbar-brand {
  color: white !important;
  font-size: 40px;
  padding: 15px 15px 0 30px;
}

.bg-light {
  background-color: #55357a !important;
}

/* Search Bar submit button feature */
.btn-outline-primary:hover {
  color: white;
  background-color: white;
  border-color: white;
}

.btn-outline-light {
  color: white;
  border-color: white;
}

/* Weather API on navbar */
.weather-info {
  background-position: center;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  padding: 8px;
  font-size: 30px;
}

/* Saved Events Container */
.card {
  border: 2px solid #55357a;
  margin: 10px;
}

/* Styling for Event Container, Event Image, & Event Add btn */
.addToEvent {
  background-color: white;
  border: 2px solid #55357a;
  border-radius: 10px;
  color: black;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  height: 10%;
}

.img {
  float: left;
  padding-bottom: 16px;
}

.addToEventList {
  background-color: #55357a;
  color: white;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  padding: 15px;
}

.addToEventList:hover {
  background-color: #9462ce;
  color: white;
}