body {
    background-color:white;
    margin: 0 10% 0 10%;
}
.bg-light {
    background-color: #565a8c!important;
}

.carouselContainer {
    width: 100%;
    margin: 0 auto;
    margin-top: 75px;
}

.btn-outline-success {
    color: white;
    border-color: white;
<<<<<<< HEAD
=======
}
#navbar {
    padding-left: 150px;
}
.navbar-brand {
    color: white !important;
}

.form-inline {
    padding-right: 150px;
>>>>>>> 7af4f754dc8da6709b67a81d1ec1aa9d86221cd8
}
#navbar {
    padding-left: 150px;
}
.navbar-brand {
    color: white !important;
}

.form-inline {
    padding-right: 150px;
}

.dropdown-menu {
    margin-left: 500px;
}